name: ci

on: [push, pull_request]

defaults:
  run:
    shell: bash

jobs:
  BuildCli:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-latest
          - ubuntu-latest
          - macOS-latest
        compiler:
          - 'dmd-latest'
          - 'ldc-latest'
          - 'dmd-beta'
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Install compiler
      uses: dlang-community/setup-dlang@v1
      with:
        compiler: ${{ matrix.compiler }}

    - name: Build CLI
      run: |
        dub build

  Test:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-latest
          - ubuntu-latest
          - macOS-latest
        compiler:
          - 'dmd-latest'
          - 'ldc-latest'
          - 'dmd-beta'
        packages:
          - 'utils'
          - 'semver'
          - 'sdlang'
          - 'exception'
          - 'resolve'
          - 'pkgdescription'
          - 'descriptiongetter'
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Install compiler
      uses: dlang-community/setup-dlang@v1
      with:
        compiler: ${{ matrix.compiler }}

    - name: Run ${{ matrix.packages }}
      working-directory: ${{ matrix.packages }}
      run: |
        dub test
